.primeCandidateDisplay {
	margin-top: 10px;
	margin-bottom: 10px;
}

.crossedOutDisplay {
	text-decoration: line-through;
	color: #9898AC;	
}

.status-display {
    margin-left: 25px;
}

/* preparation CSS (from) */
.slide-in-enter {
  transition:0.5s linear all;
  position:relative;
  opacity:0; 
  left:20px;
}

/* animation CSS (to) */
.slide-in-enter-active {
  opacity:1; 
  left:0;
}

/* preparation CSS */
.some-animation-keyframe {
  animation:0.5s my_animation_keyframe;
}
/* animation CSS (from & to) */
@keyframes my_animation_keyframe {
  from { background:blue; }
  to { background:red; }
}