/* TODO: Bootstrap customization should go in separate css file */
.navbar-inverse .navbar-inner {
  background-color: #FF6600;
  background-image: -moz-linear-gradient(top, #F6600, #FF8533);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF6600), to(#FF8533));
  background-image: -webkit-linear-gradient(top, #FF6600, #FF8533);
  background-image: -o-linear-gradient(top, #FF6600, #FF8533);
  background-image: linear-gradient(to bottom, #FF6600, #FF8533);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-inverse .brand {
  color: #ffffff;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.primeCandidateDisplay {
	margin-top: 10px;
	margin-bottom: 10px;
}

.crossedOutDisplay {
	text-decoration: line-through;
	color: #9898AC;	
}

.status-display {
    margin-left: 25px;
}