<div class="row">
      <div class="span6">
        <alert ng-repeat="alert in alerts"
          ng-animate="{enter:'animated bounceInDown', leave: 'animated bounceOutUp'}" type="alert.type"
          close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </div>

    <form name="findPrimesForm" class="form-horizontal">
      <fieldset>

        <legend>Prime Number Finder</legend>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="upTo">Up to</label>
          <div class="controls">
            <input id="upTo" autofocus ng-model="upTo" type="number" min="2" max="4000" step="1"
              placeholder="Enter number to find primes up to" class="input-xlarge" required>
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="findPrimes"></label>
          <div class="controls">
            <button id="findPrimes" ng-click="findPrimesAction()"
              class="btn btn-primary">Find Primes</button>
          </div>
        </div>

      </fieldset>
    </form>

    <!-- Results -->
    <div class="row">
      <div id="grid" class="span12">
        <div ng-repeat="primeCandidate in primeCandidates"
          ng-animate="{enter:'animated fadeInRight', leave:'animated fadeOutRight'}"
          class="span1 align-right primeCandidateDisplay">
          <div ng-class="{crossedOutDisplay: primeCandidate.crossedOut}">{{primeCandidate.value}}</div>
        </div>
      </div>
    </div>

  </div>